    <section id="last-div" class="jumbotron jumbotron-fluid align-content-center"
             style="margin-bottom: 0; padding-bottom: 0;">
         <svg class="svg-first-div2 header-separator-svg header-separator-svg__waves_svg_separator" xmlns="http://www.w3.org/2000/svg" version="1.0" width="auto" fill="#f1f2f4" height="40" viewBox="0 0 1200 30" preserveAspectRatio="none"><path d="M0,0S1.209,1.508,200.671,7.031C375.088,15.751,454.658,30,600,30V0H0ZM1200,0s-90.21,1.511-200.671,7.034C824.911,15.751,745.342,30,600,30V0h600Z"></path></svg>
        <div class="container-fluid text-center last-div-container-fluid">
            <div class="container-last-div container">
                <hr class="contact-border">
                <h1 class="h1-last-div">İLETİŞİM</h1>
                <hr style="height: 1px; background-color: rgb(151,103,223);">
                <div class="row justify-content-start" style="margin-bottom: 40px; margin-top: 40px">
                    <div class="col-last-div col text-right">
                        <a href="http://www.gtu.edu.tr/"><h2 class="h2-last-div">GEBZE TEKNİK ÜNİVERSİTESİ</h2></a>
                        <p class="p-last-div">Cumhuriyet, 2254. Sk. No:2, 41400 Gebze/Kocaeli</p>
                        <p class="p-last-div last-p">rover@gtu.edu.tr</p>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <img class="img-first-div" src="/images/gtu.jpg" width="280" height="163"/>
                    </div>
                </div>
                <span>&copy; Copyright 2020</span>
            </div>
        </div>
        <div id="earth-wrap">
<!--            <img id="earth" src="/images/earth.png" alt="earth">-->
        </div>
    </section>
