<div>
    <nav class="navbar navbar-light fixed-top">
        <a class="navbar-brand" href="/">
            <img id="navbar-img1" src="/images/logo/logo-white.png" width="200" height="32" alt=""
                 style="margin-top: 14px">
        </a>

        <div >
            <div class="" style="float: left;">
            {% include en_tr_switch.html %}
            </div>

        <a class="navbar-brand" href="#" style="float: right">
            <img id="navbar-img2" src="/images/lets-white2.png" width="300" height="45" alt="">
        </a>

        </div>
    </nav>
</div>
