body {
    font-family: 'Titillium Web', sans-serif !important;
}

@font-face {
    font-family: 'Sifonn Pro';
    font-style: normal;
    font-weight: normal;
    src: local('Sifonn Pro'), url('/fonts/SIFONN_PRO.woff') format('woff');
}

@font-face {
    font-family: 'sifonnbasic';
    src: url('/fonts/sifonn_basic-webfont.woff2') format('woff2'),
    url('/fonts/sifonn_basic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'League Gothic';
    src: url('/fonts/LeagueGothic-Regular.woff2') format('woff2'),
    url('/fonts/LeagueGothic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trajan Pro';
    src: url('/fonts/TrajanPro-Regular.woff2') format('woff2'),
    url('/fonts/TrajanPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.members-linked:link {
    color: white !important;
    font-weight: normal;
}

.members-linked:visited {
    color: white !important;
    font-weight: normal;
}

.members-linked:hover {
    color: lightpink !important;
    font-weight: bold;
    text-decoration: none;
}

.index-first-div-linked:link {
    color: white !important;
    font-weight: bold;
}

.index-first-div-linked:visited {
    color: white !important;
    font-weight: bold;
}

.index-first-div-linked:hover {
    color: #ae6ebe !important;
    font-weight: bold;
    text-decoration: none;
}

#first-div {
    background: url(/images/background/background13.png) center center / cover no-repeat;
    height: 1000px;
    color: white;
    margin-bottom: 50px;
}

#first-div-first {
    margin-bottom: 70px;
}

#second-div {
    background: url(/images/background/background15.png) center center / cover no-repeat;
    height: auto;
    color: white;
    margin-bottom: 50px;
}

#third-div {
    background: url(/images/background/background2.png) center center / cover no-repeat;
    height: 1000px;
    color: white;
    margin-bottom: 50px;
}

#fourth-div {
    background: url(/images/background/background7.png) center center / cover no-repeat;
    height: 1000px;
    color: white;
    margin-bottom: 50px;
}

#fifth-div {
    background: url(/images/background/background16.png) center center / cover no-repeat;
    height: 1000px;
    color: white;
    margin-bottom: 50px;
}

#last-div {
    background: url(/images/background/background17.jpg) center center / cover no-repeat;
    height: 880px;
    color: white;
    margin-bottom: 50px;
}

.contact-border {
    clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
    width: 40%;
    margin: -1px auto auto;
    border-width: 0;
    height: 15px;
    background-color: #9767dd;
}

.container-last-div {
    margin-top: 100px;
    border-top: 7px solid #9767dd;
    border-left: 4px solid #2c264a;
    border-right: 4px solid #2d274d;
    border-bottom: 2px solid #9867dd;
    background-color: rgba(70, 63, 107, 0.33)
}

.first-div-icon {
    width: 120px !important;
}

.first-div-icon:hover {
    transition-duration: 200ms;
    transform: scale(1.1);
    /*width: 122px !important;*/
}

.mycol {
    margin-bottom: 20px;
}

.h1-first-div {
    margin-top: 140px;
    color: #bb78cb;
}

.font-sifonn {
    font-family: 'sifonnbasic', sans-serif !important;
    font-weight: lighter !important;
    font-style: normal !important;
    letter-spacing: 2px;
}

.lightwidget-widget {
    border-radius: 25px;
    margin: 0 auto;
}

.h3-first-div {
    color: hotpink;
    font-weight: normal;
}

.h3-first-div-2 {
    font-weight: 500;
    text-line-through: double;
}

.h1-second-div {
    padding-right: 0;
    overflow: hidden;
}

.h1-last-div {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: normal;
}

.h2-last-div {
    color: rgb(198, 124, 222);
}

.p-second-div {
    padding-right: 0;
    font-size: 18px;
    overflow: hidden;
}

.p-last-div {
    font-size: 18px;
    margin-bottom: 10px;
}

.row-second-div {
    margin-top: 55px;
    margin-bottom: 55px;
    width: 100.5%;
}

.lib-panel {
    width: 70%;
    margin-bottom: 20Px;
}

.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: rgba(255, 255, 255, 0.49);
}

.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    font-size: 20px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 3px;
    width: 40px;
    background-color: orangered;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
}

.lib-panel .lib-row.lib-desc a {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .10);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .10);
}

.no-padding {
    padding: 0;
}

.lib-row {
    color: rebeccapurple;
}

.lib-header {
    margin-top: 50px;
    font-size: 30px !important;
    font-weight: bold;
}

@media (max-width: 575.98px) {
    .lib-header {
        margin-top: 25px;
    }

    .lightwidget-widget {
        padding-left: 30px;
        padding-right: 30px;
    }

    .members-col {
        margin-bottom: 30px;
    }

    #navbar-img1 {
        width: 150px !important;
        height: 22.5px !important;
    }

    #navbar-img2 {
        width: 200px !important;
        height: 30px !important;
    }

    .row-second-div {
        width: 103%;
    }

    #carousel1_indicator {
        max-width: 300px !important;
        max-height: 375px !important;
        margin: 0 auto !important;
    }

    .carousel-inner2 {
        margin: 0 auto !important;
    }

    .img-first-div {
        width: 275px;
        height: 228px;
        text-align: center;
    }

    .h1-first-div {
        margin-top: 30px;
        font-size: 35px !important;
        text-align: center;
    }

    .h1-first-div-2 {
        text-align: center;
    }

    .p-first-div {
        font-size: 20px !important;
        text-align: center;
    }

    .h1-second-div {
        margin-top: 35px;
        font-size: 30px !important;
        text-align: center;
    }

    .h2-last-div {
        text-align: center;
    }

    .p-last-div {
        text-align: center;
    }

    .last-p {
        margin-bottom: 45px !important;
    }

    .col-last-div {
        text-align: center;
    }

    .p-second-div {
        font-size: 19px !important;
        margin-left: 17px;
        margin-right: 17px;
        text-align: center;
        padding: 10px;
    }

    .h1-fourth-div {
        font-size: 37px !important;
    }

    .h1-fourth-div-2 {
        font-size: 30px !important;
    }

    .img-fourth-div {
        width: 60%;
        height: 60%;
        margin-bottom: 30px;
    }

    #first-div {
        height: auto;
    }

    #second-div {
        height: auto;
        padding-right: 0 !important;
    }

    #third-div {
        height: auto;
    }

    #fourth-div {
        height: auto;
    }

    #fifth-div {
        height: auto;
    }

    #last-div {
        background-position: center center !important;
        height: auto;
    }

    .last-div-container-fluid {
        padding-bottom: 110px !important;
    }

    .first-div-icon {
        width: 70px;
    }

    .lib-row {
        margin-bottom: 25px !important;
    }

}

@media (min-width: 576px) and (max-width: 767.98px) {
    .lib-header {
        margin-top: 25px;
    }

    .lightwidget-widget {
        padding-left: 45px;
        padding-right: 45px;
    }

    .members-col {
        margin-bottom: 30px;
    }

    .row-second-div {
        width: 102%;
    }

    #carousel1_indicator {
        max-width: 300px !important;
        max-height: 375px !important;
        margin: 0 auto !important;
    }

    .carousel-inner2 {
        margin: 0 auto !important;
    }

    .img-first-div {
        width: 275px;
        height: 228px;
        text-align: center;
    }

    .h1-first-div {
        margin-top: 35px;
        font-size: 35px !important;
        text-align: center;
    }

    .h1-first-div-2 {
        text-align: center;
    }

    .p-first-div {
        font-size: 20px !important;
        text-align: center;
    }

    .h1-second-div {
        margin-top: 35px;
        font-size: 30px;
        text-align: center;
    }

    .h2-last-div {
        text-align: center;
    }

    .p-last-div {
        text-align: center;
    }

    .last-p {
        margin-bottom: 45px !important;
    }

    .col-last-div {
        text-align: center;
    }

    .p-second-div {
        font-size: 21px !important;
        margin-left: 17px;
        margin-right: 17px;
        text-align: center;
        padding: 10px;
    }

    .h1-fourth-div {
        font-size: 55px !important;
    }

    .h1-fourth-div-2 {
        font-size: 35px !important;
    }

    .img-fourth-div {
        width: 65%;
        height: 65%;
        margin-bottom: 30px;
    }

    #first-div {
        height: auto;
    }

    #second-div {
        height: auto;
    }

    #third-div {
        height: auto;
    }

    #fourth-div {
        height: auto;
    }

    #fifth-div {
        height: auto;
    }

    #last-div {
        background-position: center center !important;
        height: auto;
    }

    .last-div-container-fluid {
        padding-bottom: 110px !important;
    }

    .first-div-icon {
        width: 30%;
    }

    .carousel-inner {
        margin-left: 0 !important;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .lib-header {
        margin-top: 30px;
    }

    .lightwidget-widget {
        padding-left: 60px;
        padding-right: 60px;
    }

    .members-col {
        margin-bottom: 30px;
    }

    .row-second-div {
        width: 102%;
    }

    #carousel1_indicator {
        max-width: 400px !important;
        max-height: 500px !important;
        margin: 0 auto !important;
    }

    .carousel-inner2 {
        margin: 0 auto !important;
    }

    .img-first-div {
        width: 330px;
        height: 274px;
        text-align: center;
    }

    .h1-first-div {
        margin-top: 35px;
        font-size: 35px !important;
        text-align: center;
    }

    .h1-first-div-2 {
        text-align: center;
    }

    .p-first-div {
        font-size: 20px !important;
        text-align: center;
    }

    .h1-second-div {
        margin-top: 35px;
        font-size: 30px;
        text-align: center;
    }

    .h2-last-div {
        text-align: center;
    }

    .p-last-div {
        text-align: center;
    }

    .last-p {
        margin-bottom: 45px !important;
    }

    .col-last-div {
        text-align: center;
    }

    .p-second-div {
        font-size: 15px;
        text-align: center;
        padding: 10px;
    }

    #carousel1_indicator {
        max-width: 400px;
        max-height: 500px;
    }

    #first-div {
        height: auto;
    }

    #second-div {
        height: auto;
    }

    #third-div {
        height: auto;
    }

    #fourth-div {
        height: auto;
    }

    #fifth-div {
        height: auto;
    }

    #last-div {
        background-position: center center !important;
        height: auto;
    }

    .last-div-container-fluid {
        padding-bottom: 110px !important;
    }

    .first-div-icon {
        width: 30%;
    }

    .carousel-inner {
        margin-left: 0 !important;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .lib-header {
        margin-top: 35px;
    }

    .members-col {
        margin-bottom: 30px;
    }

    #carousel1_indicator {
        max-width: 400px;
        max-height: 500px;
    }

    #first-div {
        height: auto;
    }

    #second-div {
        height: auto;
    }

    #third-div {
        height: auto;
    }

    #fourth-div {
        height: auto;
    }

    #fifth-div {
        height: auto;
    }

    #last-div {
        background-position: center center !important;
        height: auto;
    }

    .last-div-container-fluid {
        padding-bottom: 110px !important;
    }

    .first-div-icon {
        width: 30%;
    }

    .carousel-inner {
        margin-left: 0 !important;
    }
}

@media (min-width: 1200px) {
    #carousel1_indicator {
        max-width: 400px;
        max-height: 500px;
    }

    #first-div {
        height: auto;
    }

    #second-div {
        height: auto;
    }

    #third-div {
        height: auto;
    }

    #fourth-div {
        height: auto;
    }

    #fifth-div {
        height: auto;
    }

    #last-div {
        background-position: center center !important;
        height: auto;
    }

    .last-div-container-fluid {
        padding-bottom: 220px !important;
    }

    .first-div-icon {
        width: 30%;
    }
}

#carousel1_indicator {
    margin-left: 70px;
    max-width: 400px;
    max-height: 500px;
}

.carousel-inner2 {
    margin-left: 30px;
}

.carousel-item {
    max-width: 400px;
    max-height: 500px;
    background: #ccc;
}

.navbar {
    background-color: #31274a;
    opacity: 0.8;
}
