#first-div{
    background: url(/images/back7.jpg) center center / cover no-repeat;
    height: 725px;
    color: white;
    margin-bottom: 50px;
}
#first-div-first{
    margin-bottom: 70px;
}
#second-div{
    background: url(/images/back4.jpg) center center / cover no-repeat;
    height: 700px;
    color: white;
    margin-bottom: 50px;
}
.h3-first-div{
    color: hotpink;
    font-weight: normal;
}
.h3-first-div-2{
    font-weight: normal;
}