<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
 <div id="footer" th:fragment="myfooter">
     <section id="last-div" class="jumbotron jumbotron-fluid align-content-center" style="margin-bottom: 0; padding-bottom: 0;">
         <div class="container-fluid text-center last-div-container-fluid">
             <div class="container-last-div container">
                 <h1 class="h1-last-div">İLETİŞİM</h1>
                 <hr style="height: 1px; background-color: rgb(151,103,223);">
                 <div class="row justify-content-start" style="margin-bottom: 40px; margin-top: 40px">
                     <div class="col-last-div col text-right">
                         <a href="http://www.gtu.edu.tr/"><h2 class="h2-last-div">GEBZE TEKNİK ÜNİVERSİTESİ</h2></a>
                         <p class="p-last-div">Cumhuriyet, 2254. Sk. No:2, 41400 Gebze/Kocaeli</p>
                         <p class="p-last-div last-p">harunnalbayrakk278@gmail.com</p>
                     </div>
                     <div class="col-lg-6 col-sm-12">
                         <img class="img-first-div" src="/images/gtu.jpg" width="280" height="163"/>
                     </div>
                 </div>
                 <span>&copy; Copyright 2020</span>
             </div>
         </div>
     </section>
     <script type="text/javascript" src="/js/jquery.min.js"></script>
     <script type="text/javascript" src="/js/custom.js"></script>
     <script type="text/javascript" src="/js/bootstrap.min.js"></script>
 </div>
</body>
</html>