<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header :: myheader"></div>
</head>
<body>
<div th:insert="navbar :: navbar"></div>

<section id="first-div" class="jumbotron jumbotron-fluid align-content-center" style="margin-bottom: 0;">
    <div class="container-fluid text-center">
        <div class="container">
            <div class="row justify-content-start" id="first-div-first">
                <div class="col-lg-6 col-sm-12">
                    <img class="img-first-div" src="/images/rover/roverbbb.png" width="370" height="370" style="margin-top: 50px"/>
                </div>
                <div class="col text-left" style="margin-top: 50px">
                    <h1 class="h1-first-div display-4">GTU Rover</h1>
                    <p class="p-first-div">Gebze Teknik Üniversitesi Rover takımı, dünyadışı ortam
                    ve gezegenler arası misyonlarda geleceğin problemlerine, robotik çözümler üretmek amacıyla
                    farklı disiplinlerden öğrencilerin bir araya gelmesiyle kurulmuştur.</p>

                </div>
            </div>
        </div>

        <div class="container" style="margin-bottom: 25px">
            <div class="row text-center justify-content-center">
                <div class="mycol col-6 col-md-4">
                    <a href="/members"><img class="first-div-icon" src="/images/icon/hexa7.png" alt="image"/></a>
                    <a class="index-first-div-linked" href="/members"><h4 class="h3-first-div-2">Üyeler</h4></a>
                </div>
                <div class="mycol col-6 col-md-4">
                    <img class="first-div-icon" src="/images/icon/hexa8-min.png" alt="image"/>
                    <h4 class="h3-first-div-2">Sponsorluklar</h4>
                </div>
                <div class="mycol col-6 col-md-4">
                    <img class="first-div-icon" src="/images/icon/hexa11-min.png" alt="image"/>
                    <h4 class="h3-first-div-2">Galeri</h4>
                </div>

                <div class="mycol col-6 col-md-4">
                    <img class="first-div-icon" src="/images/icon/hexa10-min.png" alt="image"/>
                    <h4 class="h3-first-div-2">Hakkımızda</h4>
                </div>
                <div class="mycol col-6 col-md-4">
                    <img class="first-div-icon" src="/images/icon/hexa9-min.png" alt="image"/>
                    <h4 class="h3-first-div-2">İletişim</h4>
                </div>
                <div class="mycol col-6 col-md-4">
                    <img class="first-div-icon" src="/images/icon/hexa12-min.png" alt="image"/>
                    <h4 class="h3-first-div-2">Sponsorluk Dosyası</h4>
                </div>
            </div>
        </div>

    </div>
</section>

<section id="third-div" class="jumbotron jumbotron-fluid align-content-center" style="margin-bottom: 0;">
    <div class="container-fluid text-center">
        <div class="container">

            <div class="row justify-content-center" style="margin-bottom: 60px; margin-top: 40px">
                <div class="lib-panel" style="border-radius: 10px">
                    <div class="row box-shadow">
                        <div class="col-md-6">
                            <img class="lib-img-show" src="/images/card/marsrovernedir-min.jpg">
                        </div>
                        <div class="col-md-6">
                            <div class="lib-row lib-header">
                                Rover nedir?
                                <div class="lib-header-seperator"></div>
                            </div>
                            <div class="lib-row lib-desc" style="font-size: 20px; font-weight: bold">
                                Rover, gezegenlerin veya gök cisimlerinin yüzeyinde gerekli misyonları
                                yerine getirebilmesi için farklı boyut ve özelliklerde tasarlanmış uzay keşif araçlarının
                                genel adıdır. Robotik kollar, hareket sistemleri, yüksek çözünürlüklü kameralar ve
                                sensörler kullanılarak tasarlanırlar.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center" style="margin-bottom: 60px">
                <div class="lib-panel" style="border-radius: 10px">
                    <div class="row box-shadow">
                        <div class="col-md-6">
                            <div class="lib-row lib-header">
                                Erc nedir?
                                <div class="lib-header-seperator"></div>
                            </div>
                            <div class="lib-row lib-desc" style="font-size: 20px; font-weight: bold">
                                ERC(European Rover Challange), her yıl dünyanın çeşitli
                                ülkelerinden katılan takımlar ile Polonya'da düzenlenen Mars keşif robotu yarışmasıdır.
                                Yarışma bilim ve uzay sektörüne yeni kazanımlar sağlamayı amaçlamaktadır. Ayrıca
                                Avrupa'daki en büyük robotik ve uzay etkinliğidir.
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img class="lib-img-show" src="/images/card/ercnedir-min.jpg">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center" style="margin-bottom: 40px">
                <div class="lib-panel" style="border-radius: 10px">
                    <div class="row box-shadow">
                        <div class="col-md-6">
                            <img class="lib-img-show" src="/images/card/urcnedir-min.jpg">
                        </div>
                        <div class="col-md-6">
                            <div class="lib-row lib-header">
                                Urc nedir?
                                <div class="lib-header-seperator"></div>
                            </div>
                            <div class="lib-row lib-desc" style="font-size: 20px; font-weight: bold">
                                URC(University Rover Challange), Mars Society tarafıdan Amerika
                                Birleşik Devletleri'nin Utah eyaletindeki MDRS'da (Mars Desert Research Station)
                                gerçekleştirilen, üniversite öğrencilerini gelecek nesil uzay araçlarını tasarlamayı
                                teşvik etmek amaçlı yapılan uluslararası bir yarışmadır.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="second-div" class="jumbotron jumbotron-fluid align-content-center" style="margin-bottom: 0;">
    <div class="row-second-div row">
        <div class="col-lg-3 offset-lg-3" style="padding-right: 0;">

            <div id="carousel1_indicator" class="carousel slide" data-ride="carousel">
                <div>
                <ol class="carousel-indicators">
                    <li data-target="#carousel1_indicator" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel1_indicator" data-slide-to="1"></li>
                    <li data-target="#carousel1_indicator" data-slide-to="2"></li>
                </ol>
                </div>


                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" th:src="${instagramPhotos.get(0).source}" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" th:src="${instagramPhotos.get(1).source}" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" th:src="${instagramPhotos.get(2).source}" alt="First slide">
                    </div>
                </div>

                <a class="carousel-control-prev" href="#carousel1_indicator" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel1_indicator" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
        <div class="col-lg-3 text-left carousel-inner2" style="padding-right: 0;">
            <h1 class="h1-second-div">GALERİMİZE GÖZ ATIN</h1>
            <p class="p-second-div">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vehicula,
                mi non fermentum posuere, nunc lorem porta nisl, a tristique dolor purus eu ligula. Mauris vitae ante laoreet,
                finibus nulla et, vestibulum lorem. Mauris vel nulla nisi. Donec risus enim, feugiat nec mi in,
                dictum imperdiet enim. Cras ullamcorper congue consectetur. Vivamus eu risus sed tellus tempor tempor.
                Nunc vel lorem malesuada, condimentum nisl at, mattis dolor. Phasellus rutrum nibh metus,
                at sagittis tortor congue nec.</p>
        </div>
    </div>
</section>

<section id="fourth-div" class="jumbotron jumbotron-fluid align-content-center" style="margin-bottom: 0;">
    <div class="container">
        <h1 class="text-center display-4 h1-fourth-div">SPONSORLUKLAR</h1>
        <div class="container text-center" style="margin-top: 40px; margin-bottom: 40px;">
            <h1 class="text-center h1-fourth-div-2">OLYMPUS SPONSOR</h1>
            <img class="img-fourth-div" src="/images/frame/diamon_frame.png" width="360" height="180"/>
        </div>

        <div class="container text-center" style="margin-top: 40px; margin-bottom: 40px;">
            <h1 class="text-center h1-fourth-div-2">ASCRAEUS SPONSOR</h1>
            <img class="img-fourth-div" src="/images/frame/golden_frame.png" width="360" height="180"/>
        </div>

        <div class="container text-center" style="margin-top: 40px; margin-bottom: 40px;">
            <h1 class="text-center h1-fourth-div-2">ELYSIUM SPONSOR</h1>
            <img class="img-fourth-div" src="/images/frame/silver_frame.png" width="360" height="180"/>
        </div>

        <div class="container text-center" style="margin-top: 40px; margin-bottom: 40px;">
            <h1 class="text-center h1-fourth-div-2">ARSIA SPONSOR</h1>
            <img class="img-fourth-div" src="/images/frame/copper_frame.png" width="360" height="180"/>
        </div>

        <div class="container text-center" style="margin-top: 40px; margin-bottom: 40px;">
            <h1 class="text-center h1-fourth-div-2">PAVONIS SPONSOR</h1>
            <img class="img-fourth-div" src="/images/frame/white_frame.png" width="360" height="180"/>
        </div>
    </div>
</section>

<div th:insert="footer :: myfooter"></div>
</body>
</html>