<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header :: myheader"></div>
</head>
<body>
<div th:insert="navbar :: navbar"></div>

<section id="first-div" class="jumbotron jumbotron-fluid align-content-center" style="margin-bottom: 0;">
    <div class="container-fluid text-center">
        <div class="container">
            <div class="row justify-content-start" id="first-div-first">
                <div class="col">
                    <img src="/images/logo6.png" width="250" height="200"/>
                </div>
                <div class="col text-left">
                    <h1 class="display-4">GTU Rover</h1>
                    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                </div>
            </div>
        </div>

        <div class="container" style="margin-bottom: 25px">
            <div class="row text-center justify-content-center">
                <div class="col">
                    <img src="/images/hexa2.png"/>
                    <h3 class="h3-first-div">Üyeler</h3>
                </div>
                <div class="col">
                    <img src="/images/hexa3.png"/>
                    <h3 class="h3-first-div">Sponsorluklar</h3>
                </div>
                <div class="col">
                    <img src="/images/hexa4.png"/>
                    <h3 class="h3-first-div">Galeri</h3>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row text-center justify-content-center">
                <div class="col">
                    <img src="/images/hexa5.png"/>
                    <h3 class="h3-first-div-2">Hakkımızda</h3>
                </div>
                <div class="col">
                    <img src="/images/hexa6.png"/>
                    <h3 class="h3-first-div-2">İletişim</h3>
                </div>
                <div class="col">
                    <img src="/images/hexa1.png"/>
                    <h3 class="h3-first-div-2">Üyeler</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:insert="footer :: myfooter"></div>
</body>
</html>