<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header :: myheader"></div>
</head>
<body>
<div th:insert="navbar :: navbar"></div>

<section id="fifth-div" class="jumbotron jumbotron-fluid align-content-center" style="margin-bottom: 0;">
    <div class="container">
        <h1 class="text-center display-4" style="margin-top: 70px">ÜYELER</h1>
        <div class="container text-center" style="margin-top: 40px; margin-bottom: 40px;">
            <h1 style="margin-bottom: 20px" class="text-center">Elektronik Ekibi</h1>
            <div class="row">
                <div class="col members-col">
                    <img src="/images/circle.png" width="150" height="150"/>
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-github"></i>
                                <a class="members-linked" href="#"><span>Github</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-instagram"></i>
                                <a class="members-linked" href="#"><span>Instagram</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-linkedin"></i>
                                <a class="members-linked" href="#"><span>LinkedIn</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col members-col">
                    <img src="/images/circle.png" width="150" height="150"/>
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-github"></i>
                                <a class="members-linked" href="#"><span>Github</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-instagram"></i>
                                <a class="members-linked" href="#"><span>Instagram</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-linkedin"></i>
                                <a class="members-linked" href="#"><span>LinkedIn</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col members-col">
                    <img src="/images/circle.png" width="150" height="150"/>
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-github"></i>
                                <a class="members-linked" href="#"><span>Github</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-instagram"></i>
                                <a class="members-linked" href="#"><span>Instagram</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-linkedin"></i>
                                <a class="members-linked" href="#"><span>LinkedIn</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col members-col">
                    <img src="/images/circle.png" width="150" height="150"/>
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-github"></i>
                                <a class="members-linked" href="#"><span>Github</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-instagram"></i>
                                <a class="members-linked" href="#"><span>Instagram</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-linkedin"></i>
                                <a class="members-linked" href="#"><span>LinkedIn</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container text-center" style="margin-top: 40px; margin-bottom: 40px;">
            <h1 style="margin-bottom: 20px" class="text-center">Yazılım Ekibi</h1>
            <div class="row">
                <div class="col members-col">
                    <img src="/images/circle.png" width="150" height="150"/>
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-github"></i>
                                <a class="members-linked" href="#"><span>Github</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-instagram"></i>
                                <a class="members-linked" href="#"><span>Instagram</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-linkedin"></i>
                                <a class="members-linked" href="#"><span>LinkedIn</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col members-col">
                    <img src="/images/circle.png" width="150" height="150"/>
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-github"></i>
                                <a class="members-linked" href="#"><span>Github</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-instagram"></i>
                                <a class="members-linked" href="#"><span>Instagram</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-linkedin"></i>
                                <a class="members-linked" href="#"><span>LinkedIn</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col members-col">
                    <img src="/images/circle.png" width="150" height="150"/>
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-github"></i>
                                <a class="members-linked" href="#"><span>Github</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-instagram"></i>
                                <a class="members-linked" href="#"><span>Instagram</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-linkedin"></i>
                                <a class="members-linked" href="#"><span>LinkedIn</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col members-col">
                    <img src="/images/circle.png" width="150" height="150"/>
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-github"></i>
                                <a class="members-linked" href="#"><span>Github</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-instagram"></i>
                                <a class="members-linked" href="#"><span>Instagram</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-linkedin"></i>
                                <a class="members-linked" href="#"><span>LinkedIn</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container text-center" style="margin-top: 40px; margin-bottom: 40px;">
            <h1 style="margin-bottom: 20px" class="text-center">Mekanik Ekibi</h1>
            <div class="row">
                <div class="col members-col">
                    <img src="/images/circle.png" width="150" height="150"/>
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-github"></i>
                                <a class="members-linked" href="#"><span>Github</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-instagram"></i>
                                <a class="members-linked" href="#"><span>Instagram</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-linkedin"></i>
                                <a class="members-linked" href="#"><span>LinkedIn</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col members-col">
                    <img src="/images/circle.png" width="150" height="150"/>
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-github"></i>
                                <a class="members-linked" href="#"><span>Github</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-instagram"></i>
                                <a class="members-linked" href="#"><span>Instagram</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-linkedin"></i>
                                <a class="members-linked" href="#"><span>LinkedIn</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col members-col">
                    <img src="/images/circle.png" width="150" height="150"/>
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-github"></i>
                                <a class="members-linked" href="#"><span>Github</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-instagram"></i>
                                <a class="members-linked" href="#"><span>Instagram</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-linkedin"></i>
                                <a class="members-linked" href="#"><span>LinkedIn</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col members-col">
                    <img src="/images/circle.png" width="150" height="150"/>
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-github"></i>
                                <a class="members-linked" href="#"><span>Github</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-instagram"></i>
                                <a class="members-linked" href="#"><span>Instagram</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-linkedin"></i>
                                <a class="members-linked" href="#"><span>LinkedIn</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container text-center" style="margin-top: 40px; margin-bottom: 40px;">
            <h1 style="margin-bottom: 20px" class="text-center">Bilim Ekibi</h1>
            <div class="row">
                <div class="col members-col">
                    <img src="/images/circle.png" width="150" height="150"/>
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-github"></i>
                                <a class="members-linked" href="#"><span>Github</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-instagram"></i>
                                <a class="members-linked" href="#"><span>Instagram</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-linkedin"></i>
                                <a class="members-linked" href="#"><span>LinkedIn</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col members-col">
                    <img src="/images/circle.png" width="150" height="150"/>
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-github"></i>
                                <a class="members-linked" href="#"><span>Github</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-instagram"></i>
                                <a class="members-linked" href="#"><span>Instagram</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-linkedin"></i>
                                <a class="members-linked" href="#"><span>LinkedIn</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col members-col">
                    <img src="/images/circle.png" width="150" height="150"/>
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-github"></i>
                                <a class="members-linked" href="#"><span>Github</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-instagram"></i>
                                <a class="members-linked" href="#"><span>Instagram</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-linkedin"></i>
                                <a class="members-linked" href="#"><span>LinkedIn</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col members-col">
                    <img src="/images/circle.png" width="150" height="150"/>
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-github"></i>
                                <a class="members-linked" href="#"><span>Github</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-instagram"></i>
                                <a class="members-linked" href="#"><span>Instagram</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-linkedin"></i>
                                <a class="members-linked" href="#"><span>LinkedIn</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container text-center" style="margin-top: 40px; margin-bottom: 40px;">
            <h1 style="margin-bottom: 20px" class="text-center">Sponsorluk&Medya Ekibi</h1>
            <div class="row">
                <div class="col members-col">
                    <img src="/images/circle.png" width="150" height="150"/>
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-github"></i>
                                <a class="members-linked" href="#"><span>Github</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-instagram"></i>
                                <a class="members-linked" href="#"><span>Instagram</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-linkedin"></i>
                                <a class="members-linked" href="#"><span>LinkedIn</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col members-col">
                    <img src="/images/circle.png" width="150" height="150"/>
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-github"></i>
                                <a class="members-linked" href="#"><span>Github</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-instagram"></i>
                                <a class="members-linked" href="#"><span>Instagram</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-linkedin"></i>
                                <a class="members-linked" href="#"><span>LinkedIn</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col members-col">
                    <img src="/images/circle.png" width="150" height="150"/>
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-github"></i>
                                <a class="members-linked" href="#"><span>Github</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-instagram"></i>
                                <a class="members-linked" href="#"><span>Instagram</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-linkedin"></i>
                                <a class="members-linked" href="#"><span>LinkedIn</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col members-col">
                    <img src="/images/circle.png" width="150" height="150"/>
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-github"></i>
                                <a class="members-linked" href="#"><span>Github</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-instagram"></i>
                                <a class="members-linked" href="#"><span>Instagram</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <i class="fa fa-linkedin"></i>
                                <a class="members-linked" href="#"><span>LinkedIn</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:insert="footer :: myfooter"></div>
</body>
</html>