<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-light" style="background-color: #31274a;">
        <a class="navbar-brand" href="/">
            <img id="navbar-img1" src="/images/logo/logo.png" width="200" height="32" alt="" style="margin-top: 14px">
        </a>
        <a class="navbar-brand" href="#">
            <img id="navbar-img2" src="/images/lets.png" width="300" height="45" alt="">
        </a>
    </nav>
</div>
</body>
</html>