<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    {% include header.html %}
</head>

<body>
    {% include navbar.html %}

    <section id="sixth-div" class="jumbotron jumbotron-fluid align-content-center" style="margin-bottom: 0;">
        <div class="container">
            <h1 class="text-center animate__animated animate__fadeInRight  animate__fast font-sifonn h1-first-div-2 display-4"
                style="font-size: 55px; margin-top: 75px; margin-bottom: 30px"> {{ page.who_are_we.title }}</h1>

            <p class="animate__animated animate__fadeInRight p-sixth-div"> {{
            page.who_are_we.p1 }} </p>

            <p class="animate__animated animate__fadeInRight p-sixth-div">{{
            page.who_are_we.p2 }} </p>

            <p class="animate__animated animate__fadeInRight p-sixth-div" style="margin-bottom: 50px"> {{
            page.who_are_we.p3 }} </p>

            <div class="container-fluid" style="margin-bottom: 50px">
                <div class="row text-center justify-content-center" style="margin-bottom: 25px">
                    <div class="col-xs-4 col-lg-2">
                        <img class="first-div-icon" src="/images/icon/Software.png" alt="image" />
                    </div>

                    <div class="col-lg-3">
                        <h3 class="h3-about1 font-sifonn"> {{ page.teams.software.title }} </h3>
                    </div>
                </div>

                <p class="animate__animated animate__fadeInRight p-sixth-div"> {{
                page.teams.software.text1 }}</p>
                <p class="animate__animated animate__fadeInRight p-sixth-div"> {{
                page.teams.software.text2 }}</p>
                <p class="animate__animated animate__fadeInRight p-sixth-div"> {{
                page.teams.software.text3 }}</p>
            </div>

            <hr class="hr-about">

            <div class="container-fluid" style="margin-bottom: 50px">
                <div class="row text-center justify-content-center" style="margin-bottom: 25px">
                    <div class="col-xs-4 col-lg-2">
                        <img class="first-div-icon" src="/images/icon/Electronic.png" alt="image" />
                    </div>

                    <div class="col-lg-3">
                        <h3 class="h3-about1 font-sifonn">{{ page.teams.electronics.title }}</h3>
                    </div>
                </div>

                <p class="animate__animated animate__fadeInRight p-sixth-div"> {{ page.teams.electronics.text }} </p>
            </div>

            <hr class="hr-about">

            <div class="container-fluid" style="margin-bottom: 50px">
                <div class="row text-center justify-content-center" style="margin-bottom: 25px">
                    <div class="col-xs-4 col-lg-2">
                        <img class="first-div-icon" src="/images/icon/Science.png" alt="image" />
                    </div>

                    <div class="col-lg-3">
                        <h3 class="h3-about1 font-sifonn"> {{ page.teams.science.title }}</h3>
                    </div>
                </div>

                <p class="animate__animated animate__fadeInRight p-sixth-div"> {{ page.teams.science.text }}</p>
            </div>

            <hr class="hr-about">

            <div class="container-fluid" style="margin-bottom: 50px">
                <div class="row text-center justify-content-center" style="margin-bottom: 25px">
                    <div class="col-xs-4 col-lg-2">
                        <img class="first-div-icon" src="/images/icon/TTS.png" alt="image" />
                    </div>

                    <div class="col-lg-3">
                        <h3 class="h3-about2 font-sifonn"> {{ page.teams.sponsorship.title }}</h3>
                    </div>
                </div>

                <p class="animate__animated animate__fadeInRight p-sixth-div"> {{ page.teams.sponsorship.text }}</p>
            </div>

            <hr class="hr-about">

            <div class="container-fluid" style="margin-bottom: 50px">
                <div class="row text-center justify-content-center" style="margin-bottom: 25px">
                    <div class="col-xs-4 col-lg-2">
                        <img class="first-div-icon" src="/images/icon/Mechanical.png" alt="image" />
                    </div>

                    <div class="col-lg-3">
                        <h3 class="h3-about1 font-sifonn"> {{ page.teams.mechanical.title }}</h3>
                    </div>
                </div>

                <p class="animate__animated animate__fadeInRight p-sixth-div"> {{ page.teams.mechanical.text1 }}</p>
            </div>

            <p class="animate__animated animate__fadeInRight p-sixth-div"> {{ page.teams.mechanical.text2 }} </p>
        </div>
    </section>

    {% include footer.html %}

</body>

</html>