<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	{% include header.html %}
</head>
<body>
	{% include navbar.html %}

<section id="sixth-div" class="jumbotron jumbotron-fluid align-content-center" style="margin-bottom: 0;">
    <div class="container">
        <h1 class="text-center animate__animated animate__fadeInRight  animate__fast font-sifonn h1-first-div-2 display-4"
            style="font-size: 55px; margin-top: 75px; margin-bottom: 30px">Biz Kimiz?</h1>

        <p class="animate__animated animate__fadeInRight p-sixth-div">Gebze Teknik Üniversitesi, 1992'de kurulan Gebze Yüksek
            Teknoloji Enstitüsü’nün temelleri ve tecrübe birikimleri üzerine ve 22 yıllık mirasına sahip çıkarak 4 Kasım 2014
            tarihinde kurulmuştur. Üniversitemiz altyapısıyla, donanımıyla, akademik kadrosuyla ülkemizin en önemli bilim üssü
            olmaya aday, en genç ancak deneyimli üniversitesidir.</p>

        <p class="animate__animated animate__fadeInRight p-sixth-div">GTU Rover Takımı , 2020 yılının Mayıs ayında kurulmuş olup
            bünyesinde Uzaya, Bilime ve Teknolojiye meraklı  30+ üyesiyle genç ve dinamik bir takımdır. Dünyadışı ortam ve
            gezegenler arası misyonlarda geleceğin problemlerine, robotik çözümler üretmek amacıyla farklı disiplinlerden
            öğrencilerin bir araya gelmesiyle kurulmuştur.
        </p>

        <p class="animate__animated animate__fadeInRight p-sixth-div">Amacımız, URC/ERC yarışmalarının parametrelerine uygun bir robot
            tasarlayıp üretmenin yanısıra; gelecek nesil multidisipliner, özverili mühendis ve bilim insanları yetişmesinde, eğitim ve araştırma dünyasında bölgede inovasyonu arttırmakta öncü rol oynamaktır.
        </p>

        <p class="animate__animated animate__fadeInRight p-sixth-div" style="margin-bottom: 50px">Takımımız Elektronik, Yazılım, Mekanik, Bilim, Sponsorluk
            & Medya olmak üzere 5 farklı alt takımdan oluşmaktadır.
            Alt takımların görevleri şu şekildedir;
        </p>

        <div class="container-fluid" style="margin-bottom: 50px">
            <div class="row text-center justify-content-center" style="margin-bottom: 25px">
                <div class="col-xs-4 col-lg-2">
                    <img class="first-div-icon" src="/images/icon/Software.png" alt="image"/>
                </div>

                <div class="col-lg-3">
                    <h3 class="h3-about1 font-sifonn">Yazilim Ekibi</h3>
                </div>
            </div>

            <p class="animate__animated animate__fadeInRight p-sixth-div">Roverın ve robot kolun otonom bir şekilde hareket
                edebilmesi için sensörlerden ve kameralardan elde edilen verileri kullanarak algoritmalar geliştirir.
            </p>
            <p class="animate__animated animate__fadeInRight p-sixth-div">Roverın kontrolü ve roverdan gelen verilerin
                görselleştirilmesi için arayüz tasarlar.
            </p>
            <p class="animate__animated animate__fadeInRight p-sixth-div">Görüntü işleme tekniklerinı kullanarak roverın
                etrafındaki nesneleri tanımasını sağlar.
            </p>
        </div>

        <hr class="hr-about">

        <div class="container-fluid" style="margin-bottom: 50px">
            <div class="row text-center justify-content-center" style="margin-bottom: 25px">
                <div class="col-xs-4 col-lg-2">
                    <img class="first-div-icon" src="/images/icon/Electronic.png" alt="image"/>
                </div>

                <div class="col-lg-3">
                    <h3 class="h3-about1 font-sifonn">Elektronik Ekibi</h3>
                </div>
            </div>

            <p class="animate__animated animate__fadeInRight p-sixth-div">Rover üzerindeki elektronik kompononentlere
                gerekli gücü, araç içi iletişimi ve yer istasyonu ile kablosuz haberleşmeyi sağlar ayrıca baskı devre
                kartlarını tasarlayıp üretir.
            </p>
        </div>

        <hr class="hr-about">

        <div class="container-fluid" style="margin-bottom: 50px">
            <div class="row text-center justify-content-center" style="margin-bottom: 25px">
                <div class="col-xs-4 col-lg-2">
                    <img class="first-div-icon" src="/images/icon/Science.png" alt="image"/>
                </div>

                <div class="col-lg-3">
                    <h3 class="h3-about1 font-sifonn">Bilim Ekibi</h3>
                </div>
            </div>

            <p class="animate__animated animate__fadeInRight p-sixth-div">Roverın yarışma alanından aldığı örnekleri analiz edip,
                geçmişte olmuş veya gelecekte olabilecek herhangi bir yaşam belirtisi arar. Aynı zamanda yarışma alanının jeolojik
                yapısını incelemekle sorumludur.
            </p>
        </div>

        <hr class="hr-about">

        <div class="container-fluid" style="margin-bottom: 50px">
            <div class="row text-center justify-content-center" style="margin-bottom: 25px">
                <div class="col-xs-4 col-lg-2">
                    <img class="first-div-icon" src="/images/icon/TTS.png" alt="image"/>
                </div>

                <div class="col-lg-3">
                    <h3 class="h3-about2 font-sifonn">Sponsorluk ve Medya Ekibi</h3>
                </div>
            </div>

            <p class="animate__animated animate__fadeInRight p-sixth-div">Roverın yarışma alanından aldığı örnekleri analiz edip,
                geçmişte olmuş veya gelecekte olabilecek herhangi bir yaşam belirtisi arar. Aynı zamanda yarışma alanının jeolojik
                yapısını incelemekle sorumludur.
            </p>
        </div>

        <hr class="hr-about">

        <div class="container-fluid" style="margin-bottom: 50px">
            <div class="row text-center justify-content-center" style="margin-bottom: 25px">
                <div class="col-xs-4 col-lg-2">
                    <img class="first-div-icon" src="/images/icon/Mechanical.png" alt="image"/>
                </div>

                <div class="col-lg-3">
                    <h3 class="h3-about1 font-sifonn">Mekanik Ekibi</h3>
                </div>
            </div>

            <p class="animate__animated animate__fadeInRight p-sixth-div">Roverın yarışma alanından aldığı örnekleri analiz edip,
                geçmişte olmuş veya gelecekte olabilecek herhangi bir yaşam belirtisi arar. Aynı zamanda yarışma alanının jeolojik
                yapısını incelemekle sorumludur.
            </p>
        </div>

    </div>
</section>

	{% include footer.html %}

</body>
</html>
