<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    {% include header.html %}
</head>
<body>
{% include navbar.html %}

<section id="fifth-div" class="jumbotron jumbotron-fluid align-content-center" style="margin-bottom: 0;">
    <div class="container">
        <h1 class="text-center display-4 font-sifonn" style="margin-top: 70px">{{ page.members.title }}</h1>
        <div class="container text-center" style="margin-top: 40px; margin-bottom: 40px;">
            <h1 style="margin-bottom: 20px" class="text-center font-sifonn">{{ page.teams.electronics.title }}</h1>
            <div class="text-center">
                <h3>Alpcan Soydaş</h3>
                <h3>Toprak Alp</h3>
                <h3>Asuman Sare Ergut</h3>
                <h3>Volkan Niler</h3>
                <h3>Yusuf Günan</h3>
                <h3>Muhammed Cemal Eryiğit</h3>
            </div>
        </div>

        <div class="container text-center" style="margin-top: 40px; margin-bottom: 40px;">
            <h1 style="margin-bottom: 20px" class="text-center font-sifonn">{{ page.teams.software.title }}</h1>
            <div class="text-center">
                <h3>Harun Albayrak</h3>
                <h3>Fatih Kaan Salgır</h3>
                <h3>Ömer Sayar</h3>
                <h3>Baran Şahin</h3>
                <h3>Oğuzhan Yaşar</h3>
            </div>
        </div>

        <div class="container text-center" style="margin-top: 40px; margin-bottom: 40px;">
            <h1 style="margin-bottom: 20px" class="text-center font-sifonn">{{ page.teams.mechanical.title }}</h1>
            <div class="text-center">
                <h3>Muhammed Eymen Sunduvaç</h3>
                <h3>Yunus Emre Eyüboğlu</h3>
                <h3>Yunus Koman</h3>
            </div>
        </div>

        <div class="container text-center" style="margin-top: 40px; margin-bottom: 40px;">
            <h1 style="margin-bottom: 20px" class="text-center font-sifonn">{{ page.teams.science.title }}</h1>
            <div class="text-center">
                <h3>Oğuz Güçlü</h3>
                <h3>Buse Aktürk</h3>
            </div>
        </div>

        <div class="container text-center" style="margin-top: 40px; margin-bottom: 40px;">
            <h1 style="margin-bottom: 20px" class="text-center font-sifonn">{{ page.teams.sponsorship.title }}</h1>
            <div class="text-center">
                <h3>Doğan Turan</h3>
                <h3>Saliha Kansız</h3>
            </div>
        </div>
    </div>
</section>

{% include footer.html %}
</body>
</html>
