<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    {% include header.html %}
</head>
<body>
{% include navbar.html %}

<section id="fifth-div" class="jumbotron jumbotron-fluid align-content-center" style="margin-bottom: 0;">
    <div class="container">
        <h1 class="text-center display-4 font-sifonn" style="margin-top: 70px">{{ page.members.title }}</h1>

        {% for team in page.teams %}
        <div class="container text-center" style="margin-top: 40px; margin-bottom: 40px;">
            <h1 style="margin-bottom: 20px" class="text-center font-sifonn">{{ team[1].title }}</h1>
            <div class="text-center">
            {% assign teamName = team[0] %}
            {% for member in site.members %}
                {% for m in member[teamName] %}
                <h3>{{ m }}</h3>
                {% endfor %}
            {% endfor %}
            </div>
        </div>
        {% endfor %}

    </div>
</section>

{% include footer.html %}
</body>
</html>
